# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# VSCode
.vscode/

# MacOS
.DS_Store

# Environment Variables
.env

# Logs
*.log

# Jupyter Notebook (если вдруг пригодится)
.ipynb_checkpoints/

# System files
Thumbs.db
desktop.ini
